@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
$font: 'Roboto';

* {
  margin: 0;
  padding: 0;
}

@mixin flex {
  display: flex;
}

@mixin flexJcAic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexJcc {
  display: flex;
  justify-content: center;
}

@mixin flexAic {
  display: flex;
  align-items: center;
}

@mixin flexJcsb {
  display: flex;
  justify-content: space-between;
}

@mixin flexJsAic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
