* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, ‘Segoe UI’, Roboto,
    ‘Helvetica Neue’, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button,
input {
  outline: 0;
  border: 0;
  background: none;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
